.App {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 10px);
  margin: 10px;
}

.container {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.nav-bar {
  width: 100%;
  background-image: linear-gradient(to right top, #8C33E3, #696CE8, #4A9EEC);
  background-repeat: no-repeat;
  font-family: 'IBM Plex Mono';
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.nav-item {
  list-style: none;
  color: black;
  padding: 4px;
}

.sidebar {
  width: 30%;
  overflow: scroll;
}

.detail {
  width: 70%;
}

.master-detail-element {
  float: left;
  margin: 10px 0px;
  padding: 20px;
  border: 2px solid black;
}
